body{
    font-family: Merriweather, sans-serif;
    background-color:#faf8ff;
    color:#0E5EA9;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'merriweather', cursive;
    text-align: center;
    font-size: 40pt;
}

h2 {
    margin: .1em;
}

h2 {
    font-size: 22pt;
}

header {
    text-align: center;
}
#hero, footer {
    color:#0882f3;
    border: 2px solid #027EF2;
    background-color: #d0a561;
    text-align: center;
    padding: 10px;
}

/*Hero Section*/

#hero img {
    width: 300px;
}

/* Bio Section */

#bio{
    text-align: center;
}

/* Hobbies */

section#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies  ul li:nth-child(odd) {
    color: green;
}
#hobbies  ul li:nth-child(even) {
    color: black;
}

/* Gallery */

#gallery {
    border: 2px solid blueviolet;
    margin-bottom: 2rem;
}

#gallery img {
    max-width: 500px;
}

#gallery figure {
    text-align: center;
}

/* Literature */
#lit {
    border: 2px solid blueviolet;
    margin-bottom: 2rem;
}

#lit div{
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#lit div  p {
    padding: 0.3rem 0;
    clear:both;
}

/* Dropcaps */

#lit div p:first-child:first-letter {
color: blueviolet;
background-color: azure;
float: left;
font-size: 2em;
font-style: italic;
padding: .5em;
line-height: .65;
border: 2px solid black;
}

/* tablet size */

@media screen and (min-width: 60em) {
    figure {
        display:grid;
grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display:flex;
justify-content: center;
align-items: center;
font-size: 2rem;
margin-left: 1rem;
    } 
  
    figure img {
        width: 100%;
    }

    #lit div{
    max-width:100%;
columns: 40rem;
   } 

}

/* large screen sizes */

@media screen and (min-width: 100em) {
    #gallery {
        display:grid;
grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    #gallery h2 {
    grid-column: 1/-1  
    }

    figure {
        display: block;
    }
}

#video{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Contact Form */

#FormElements {
    display: grid;
    row-gap: .5em;
}

#contact {
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
}

fieldset {
    border: 2px solid blueviolet;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 2rem;
}

legend {
    background-color: blueviolet;
    color: white;
    padding: .5em;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: .5em;
    font-size: 1rem;
}

#contact ul {
    list-style: none;
    padding: 0px;
}
#contact li {
    margin: 1rem;
}

#contact button {
    background-color: blueviolet;
    color: white;
    border: 1px solid #0E5EA9;
    max-width: 400px;
    width: 50%;
    justify-self: center;
}